
@media only screen and (max-width: 600px) {

    .video-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        padding-right: 8%;
        width: 92%;
    }

    .search-card{
        height: 45vh;
        width: 100%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 5.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 4vw;
            color: #cfcfcf;
        }

        .search-description{
            display: none;
        }
    }

    .fillParent{

        position: absolute;
        display: block;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .search-thumbnail{
        position: absolute;
        color: #ffffff;
        display: block;
        object-fit: cover;
        background-color: #1a1a1a;

        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
    }

    .search-border{
        border-style: hidden solid hidden solid;
        border-radius: 2px;
        border-color: #ffffff;

        width: 95%;
        height: 18%;

        position: absolute;
        top: 72%;
        margin: 2%;
    }

    .search-title{
        position: absolute;
        margin: 0 5% 0;
        top: 70%;
    }

    .search-username{
        position: absolute;
        height: 5%;
        width: 5%;
        margin: 0 5% 0;
        top: 82%;
    }

    .search-views{
        position: absolute;
        margin: 0 5% 0;
        top: 90%;

    }

    .search-date{
        position: absolute;
        margin: 0 5% 0;
        top: 90%;
        left: 30%;
    }


}

@media only screen and (min-width: 601px) {

    .video-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        padding-left: 4%;
        padding-right: 4%;
        width: 92%;
    }

    .search-card{
        height: 35vh;
        width: 45%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 2.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 2vw;
            color: #cfcfcf;
        }

        .search-description{
            display: none;
        }
    }

    .fillParent{

        position: absolute;
        display: block;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .search-thumbnail{
        position: absolute;
        color: #ffffff;
        display: block;
        object-fit: cover;
        background-color: #1a1a1a;

        top: 0;
        left: 0;
        width: 100%;
        height: 70%;
    }

    .search-border{
        border-style: hidden solid hidden solid;
        border-radius: 2px;
        border-color: #ffffff;

        width: 95%;
        height: 18%;

        position: absolute;
        top: 72%;
        margin: 2%;
    }

    .search-title{
        position: absolute;
        margin: 0 5% 0;
        top: 70%;
    }

    .search-username{
        position: absolute;
        height: 5%;
        width: 5%;
        margin: 0 5% 0;
        top: 82%;
    }

    .search-views{
        position: absolute;
        margin: 0 5% 0;
        top: 90%;

    }

    .search-date{
        position: absolute;
        margin: 0 5% 0;
        top: 90%;
        left: 30%;
    }

}

@media only screen and (min-width: 992px) {

    .video-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;

        padding-left: 4%;
        padding-right: 4%;
        width: 92%;
    }

    .search-border{
        display: none;
    }

    .search-info{
        position: absolute;

        width: 33%;

        margin: 0 5% 0;
        top: 17.5%;
        left: 30.1%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .search-card{
        height: 35vh;
        width: 100%;

        position: relative;
        overflow: hidden;

        h2{
            font-size: 1.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 1vw;
            color: #cfcfcf;
        }

        p{
            text-align: left;
        }
    }

    .search-thumbnail {
        width: 33%;
        height: 100%;

        position: absolute;
        color: #ffffff;
        display: block;
        object-fit: cover;
        background-color: #1a1a1a;

        top: 0;
        left: 0;
    }

    .search-title {
        position: absolute;

        margin: 0 5% 0;

        top: 5%;
        left: 30%;
    }

    .search-views{
        position: static;
        margin: 0 5% 0;

    }

    .search-date{
        position: static;
        margin: 0 5% 0;
    }

    .search-username{
        position: static;
        margin: 0 5% 0;
        width: fit-content;
    }

    .search-description{
        position: absolute;

        margin: 0 5% 0;
        top: 27.5%;
        left: 30%;

    }
}

.video-search-container{
    background-color: #222;

    margin-top: 12vh;

    padding-left: 5vw;
}

#search-result{
    width: fit-content;
    padding-left: 4%;
}



