
body{
    scrollbar-color: #ffffff #23033e;
}

@media only screen and (min-width: 601px) {
    #home-page{
        background-color: #222;
        width: 92vw;
        height: fit-content;
        min-height: 100vh;
        margin-left: 2vw;
        margin-top: 12vh;

        padding-left: 5vw;

        display: flex;
        flex-wrap: wrap;

        justify-content: space-evenly;

    }

    .card{
        height: 35vh;
        width: 45%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 2.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 2vw;
            color: #cfcfcf;
        }
    }
}


@media only screen and (min-width: 993px) {
    #home-page{
        background-color: #222;
        width: 92vw;
        height: fit-content;
        min-height: 100vh;
        margin-left: 2vw;
        margin-top: 12vh;

        padding-left: 5vw;

        display: flex;
        flex-wrap: wrap;

    }

    .card{
        height: 45vh;
        width: 30%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 1.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 1vw;
            color: #cfcfcf;
        }
    }
}


@media only screen and (max-width: 600px) {
    #home-page {
        background-color: #222;
        width: 92vw;
        height: fit-content;
        min-height: 100vh;
        margin-left: 2vw;
        margin-top: 12vh;

        padding-left: 3vw;
        padding-right: 2vw;

        display: flex;
        flex-direction: column;
    }

    .card{
        height: 45vh;
        width: 100%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 5.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 4vw;
            color: #cfcfcf;
        }
    }
}



.fillParent{

    position: absolute;
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail{
    position: absolute;
    color: #ffffff;
    display: block;
    object-fit: contain;
    background-color: #1a1a1a;

    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

.border{
    border-style: hidden solid hidden solid;
    border-radius: 2px;
    border-color: #ffffff;

    width: 95%;
    height: 18%;

    position: absolute;
    top: 72%;
    margin: 2%;
}

.title{
    position: absolute;
    margin: 0 5% 0;
    top: 70%;
}

.username{
    position: absolute;
    height: 5%;
    width: 5%;
    margin: 0 5% 0;
    top: 82%;
}

.views{
    position: absolute;
    margin: 0 5% 0;
    top: 90%;

}

.date{
    position: absolute;
    margin: 0 5% 0;
    top: 90%;
    left: 30%;
}