

@media only screen and (min-width: 601px) {

    .historyContainer {
        width: 83vw;
        margin: 14vh 6vw 2vh;
        padding: 2vh 2vw 2vh;
        background-color: #252525;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .historyList {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5vh;
        justify-content: center;
    }

    .historyItem{
        height: 35vh;
        max-height: 50vw;
        width: 45%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 2.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 2vw;
            color: #cfcfcf;
        }
    }
}

@media only screen and (min-width: 993px) {

    .historyContainer {
        width: 83vw;
        margin: 14vh 6vw 2vh;
        padding: 2vh 2vw 2vh;
        background-color: #252525;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .top__text {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
        color: #ffffff;
    }


    .videoTitle {
        text-align: left;
        word-wrap: break-word;
        max-width: 100%;
        font-family: inherit;
        font-size: 1.1rem;
        margin-top: 0.5rem;
        padding: 0 0.2rem;
    }

    .historyList {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5vh;
        justify-content: center;
    }

    .historyItem {
        height: 45vh;
        width: 40%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;


        h2 {
            font-size: clamp(1.5rem, 1.5vw, 1.5vw);
            color: #ffffff;
        }

        h3 {
            font-size: clamp(1rem, 1vw, 1vw);
            color: #cfcfcf;
        }
    }
}

@media only screen and (max-width: 600px) {

    .historyContainer {
        width: 83vw;
        margin: 14vh 6vw 5vh;
        padding: 2vh 2vw 5vh;
        background-color: #252525;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .historyList {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5vh;
        justify-content: center;
    }

    .historyItem{
        height: 45vh;
        width: 100%;
        margin: 1% 1% 1%;
        padding: 0;

        position: relative;
        overflow: hidden;



        h2{
            font-size: 5.5vw;
            color: #ffffff;
        }

        h3{
            font-size: 4vw;
            color: #cfcfcf;
        }
    }
}


.thumbnail {
    position: absolute;
    color: #ffffff;
    display: block;
    object-fit: contain;
    background-color: #1a1a1a;

    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

.border {
    border-style: hidden solid hidden solid;
    border-radius: 2px;
    border-color: #ffffff;

    width: 95%;
    height: 18%;

    position: absolute;
    top: 72%;
    margin: 2%;
}

.title {
    position: absolute;
    margin: 0 5% 0;
    top: 70%;
}

.username {
    position: absolute;
    height: 5%;
    width: 5%;
    margin: 0 5% 0;
    top: 82%;
}

.views {
    position: absolute;
    margin: 0 5% 0;
    top: 90%;

}

.date {
    position: absolute;
    margin: 0 5% 0;
    top: 90%;
    left: 30%;
}


.buttonContainer {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    gap: 1rem;
}

.navButton {
    background-color: #501a5a;
    color: rgb(255, 255, 255);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
    visibility: visible;
}

.navButton:hover {
    background-color: #6a1f7a;
}


