.historyContainer {
    max-width: 70vw;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(50, 16, 56, 0.89);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #321038;
}


.videoTitle {
    text-align: left;
    word-wrap: break-word;
    max-width: 100%;
    font-family: inherit;
    font-size: 1.1rem;
    margin-top: 0.5rem;
    padding: 0 0.2rem;
}

.historyList {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.historyItem {
    width: 200px;
    text-align: center;
}

.thumbnail {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.videoTitle {
    margin-top: .5rem;
    font-size: 1rem;
    color: #321038;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 1rem;
}

.navButton {
    background-color: #501a5a;
    color: rgb(255, 255, 255);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
    visibility: visible;
}

.navButton:hover {
    background-color: #6a1f7a;
}


