
body{
    scrollbar-color: #ffffff #23033e;
}


#home-page{
    background-color: #23033e;
    width: 94vw;
    height: fit-content;
    min-height: 100vh;
    margin-top: 12vh;

    padding-left: 5vw;

    display: flex;
    flex-wrap: wrap;

}

.card{
    height: 35vh;
    width: 30%;
    margin: 1% 1% 1%;
    padding: 0;

    position: relative;
    overflow: hidden;



    h2{
        font-size: 3vh;
    }

    h3{
        font-size: 2vh;
    }
}

.fillParent{

    position: absolute;
    display: block;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.thumbnail{
    position: absolute;
    color: #ffffff;
    display: block;
    object-fit: contain;
    background-color: #1a1a1a;

    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}

.border{
    border-style: solid;
    border-color: #ffffff;
    border-radius: 2%;

    width: 99%;
    height: 28%;

    position: absolute;
    top: 70%;
}

.title{
    position: absolute;
    color: #ffffff;
    margin: 0 5% 0;
    top: 70%;
}

.username{
    position: absolute;
    color: #ffffff;
    margin: 0 5% 0;
    top: 85%;
}

.views{
    position: absolute;
    color: #ffffff;
    margin: 0 5% 0;
    top: 90%;

}

.date{
    position: absolute;
    color: #ffffff;
    margin: 0 5% 0;
    top: 90%;
    left: 30%;
}